

      <h3>Room Name:</h3>
      <h2 id="room-name"></h2>
      <h3>Users</h3>
      <ul id="users"></ul>
      <div class="chat-messages"></div>

  <form id="chat-form">
    <input id="message" type="text" placeholder="Please Enter a Message"/>
    <button class="btn"> Send</button>
  </form>

<a href="/profile" class="btn">Leave Room</a>
<p id="username" hidden>{{name}}</p>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/chat.js"></script>