<div class="row d-flex justify-content-center">
  <div class="col-md-6 text-center">
    <h2>Welcome to Skills Match!</h2><br>
    <p>Introducing Skills Match, a website designed to help users find compatible partners for skill sharing and
      learning based on complementary skills and weaknesses. With a user-friendly interface, Skills Match uses advanced
      algorithms to match users based on their individual skills and goals.<br><br>Skills Match offers a wide range of
      skills and subjects, from coding and graphic design to cooking and music, ensuring that there is a partner for
      every user's needs. Whether it's learning a new skill, improving an existing one, or sharing knowledge with
      others, Skills Match is the perfect platform for users who want to grow and expand their skill set.</p>
    <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
  </div>
</div>
